{% extends 'layout.html' %} 

{% block title %} Index CRUD {% endblock %}

{% block content %}
	<h2>{{ title }}</h2>
	
	<table border="1" style="width: 400px; border-collapse: collapse;">
		<thead>
			<tr>
				<th>NIM</th>
				<th>Nama</th>
				<th>Alamat</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for d in data %} <!-- foreach data dari index data -->
			<tr>
				<td>{{ d.nim }}</td>
				<td>{{ d.nama }}</td>
				<td>{{ d.alamat }}</td>
				<td>
					<a href="/update/{{ d.nim }}">Update</a> || 
					<a href="/delete/{{ d.nim }}" onclick="return confirm("Kamu yakin ?")">Delete</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<br/>
	<a href="/insert">Tambah Data</a>
{% endblock %}